  

  {% extends 'base.html' %}

  {% block content %}
  
 
<main class="container py-5">
  <section class="card card-body">
    <h1 class="display-1 text-center">App de Django </h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit nulla cupiditate sunt non eius ipsam recusandae veniam temporibus veritatis saepe! Sint, veniam. Maxime sed obcaecati deleniti officia labore impedit. Incidunt?</p>
  

<div class="text-center">
  <a class="btn btn-dark" href="/signin/">
    Iniciar sesión
    </a>
    
    <a class="btn btn-dark" href="/signup/">
      Cerrar sesión
      </a>
</div>

  
  </section>

</main>



  {% endblock %}